header
{
    text-align: center;
}

.manatee#landing
{
    height: 500px;
    width: 500px;
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}