
/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
*/
main {
    margin-left: 20%;
    margin-right: 20%;
}

body {
    margin:0;
}

.navigation_row {
    display:                flex;
    position:               sticky;
    padding:                0;
    top:                    0px;
    width:                  100%;
    background-color:       #333333;
}

.navigation_items {
    display:                flex;
    list-style-type:        none;
    margin-left:            40%;
    margin-right:           40%;
    margin-top:             0%;
    margin-bottom:          0%;
    padding:                0px;
    background-color:       #333333;
}

.navigation_items-dropdown_toggle {
    float:                  left;
}

.navigation_items-dropdown_toggle a {
    display:                flex;
    color:                  white; 
    padding:                14px 16px;
    text-decoration:        dashed;  
}

.navigation_items-dropdown_toggle a:hover {
    background-color:      #111111;
}

.navigation_search {
    display:                flex;
    float:                  right;
    margin-left:50%;
}

header
{
    text-align: center;
}

.manatee#landing
{
    height: 75%;
    width: 75%;
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
