header {
    text-align: center;
}

.manatee#landing {
    height: 20%;
    width: 20%;
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}